* {
  color: #39FF14;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px #092E20;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
  }
  button {
    background-color: black;
    border: solid;
    border-color: #ECF87F;
    border-radius: 25px;
    cursor: pointer;
  }

  .title {
    font-size: 64px;
  }

  .outcome {
    color: #ECF87F;
    font-size: 32px;
  }

  .score {
    margin: 40px;
    font-size: 48px;
  }
  
  .btns {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
  }

  .btn {
    width: 100px;
    height: 40px;
  }